body {
    background-color: black;
    text-align: center;
}

h1, h2, p {
    font-family: Verdana;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}
p {
    font-size: 21px;
    color: gray;
}

.dl-excursion-link {
    color: aquamarine;
    font-size: 16px;
    margin: auto;
    width: 0 auto
}

footer {
    text-align: right;
    color: gray;
}